.header {
	padding: 30px;
	display: flex;
	min-height: 600px;
	position: relative;
	background-size: 100%;
	flex-direction: column;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../../../assets//home-splash.jpg');
}

.logo {
	z-index: 50;
	width: 180px;
	position: relative;
}

.wrapper {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.cardAreaItemWrapper {
	display: flex;
	flex-direction: row;
}

.subtitleCardArea {
	margin-bottom: 20px;
	font-size: 24px;
}

.shader {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	position: absolute;
	background: -moz-linear-gradient(top, rgba(0, 33, 41,0.8) 0%, rgba(0, 163, 204,0.31) 80%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 33, 41, 0.8) 0%,rgba(0, 163, 204,0.31) 80%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(0, 33, 41,0.8) 0%,rgba(0, 163, 204,0.31) 80%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#060a21', endColorstr='#00ffffff',GradientType=0 );
}

.searchBox {
    flex: 1;
	z-index: 50;
	display: flex;
    position: relative;
    align-items: start;
	flex-direction: column;
    justify-content: center;
}

.searchBoxMiddle {
	flex: 2;
	z-index: 50;
	display: flex;
    position: relative;
	flex-direction: column;
	align-items: start;
    justify-content: start;
    color: #fff;
}

.cardArea {
	margin: 60px 0 0;
}

.boxWrapper {
	flex: 1;
	width: 100%;
	display: flex;
	margin: 60px 0 0;
}

@media screen and (max-width: 600px) {

	.header {
		background-size: auto 100%;
		min-height: auto;
	}

	.boxWrapper {
		flex-direction: column;
		margin-top: 40px;
	}

	.searchBoxMiddle {
		display: none;
	}

	.cardAreaItemWrapper {
		flex-direction: column;
	}

	.cardArea {
		width: 100%;
		display: none;
		margin: 0;
	}

	.title, .subtitle {
		display: none;
	}

	.subtitleCardArea {
		display: block;
	}

}